

<div class="sponsors">
    <h1>Platinum Sponsors</h1>
    <div class="platinum">
        <img src="/static/partners/blackrock.png" alt="blackrock logo">
    </div>
    <h1>Gold Sponsors</h1>
    <div class="gold">
        <img src="/static/partners/optiver.png" alt="optiver logo">
    </div>
    <h1>Silver Sponsors</h1>
    <div class="silver">
        <img class="silver__gresearch" src="/static/partners/gresearch.svg" alt="g research logo">
        <img src="/static/partners/thoughtmachine.png" alt="thought machine logo">
    </div>
    <h1>Partners</h1>
    <!-- some hacky positioning in here to make things work -->
    <div class="partner" style="padding-bottom: 15px;">
        <img src="/static/partners/hackuk.svg" alt="hackuk logo" style="margin-bottom: -15px; z-index: 1;">
        <a href="//hackp.ac/mlh-stickermule-hackathons" target="_blank" rel="nofollow">
            <img src="/static/partners/stickermule.png" style="height: 175px;" alt="stickermule logo">
        </a>
        <img src="/static/logos/compsoc-logo.png" alt="compsoc logo">
    </div>
</div>
