

<div class="sponsors">
    <h1>Gold Sponsors</h1>
    <div class="gold">
        <img src="/static/partners/optiver.png" alt="optiver logo">
    </div>
    <h1>Silver Sponsors</h1>
    <div class="silver">
        <img class="silver__gresearch" src="/static/partners/gresearch.svg" alt="g research logo">
        <img src="/static/partners/thoughtmachine.png" alt="thought machine logo">
    </div>
    <h1>Partners</h1>
    <div class="partner">
        <img src="/static/partners/hackuk.svg" alt="hackuk logo">
        <img src="/static/logos/compsoc-logo.png" alt="compsoc logo">
    </div>
</div>
